<footer>
   <a href="https://creativecommons.org/licenses/by-nc/3.0/deed.en_US">
      <span>
         <b>{{ site.owner }}</b>
      </span>
      {% capture currentyear %}{{ 'now' | date: "%Y" }}{% endcapture %}
      <span>© {{ currentyear }}</span>
   </a>
   <br>
   <a href="https://www.digitalocean.com/?refcode=1a6cf80d57dc"><img alt="Digital Ocean" src="/assets/image/digitalocean-badge-white.png" width="140"></a>
   <a href="https://www.linkedin.com/in/michaelford29/"><img alt="Linkedin" src="/assets/image/linkedin-logo.png" width="26"></a>
   <a href="https://twitter.com/Michael_J_Ford"><img alt="Twitter" src="/assets/image/twitter-26x26.png"></a>
   <a href="https://github.com/finlstrm"><img alt="Github" src="/assets/image/github-logo.png" width="26"></a>
   <a href="https://app.slashetc.us/gitlab/mford"><img alt="GitLab" src="/assets/image/gitlab-logo.png" height="26"></a>
</footer>
