<link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
<a href="{{ "/" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Home</h2></a>

<div class="dropdown">
   <a href="{{ "/blog" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Blog</h2></a>
   <div class="dropdown-content">
      <a href="{{ "/categories" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Projects</h2></a>
   </div>
</div>

<a href="https://app.slashetc.us/cloudlog"><h2 class="header-link">CloudLog</h2></a>

<a href="/my-station/"><h2 class="header-link">My Station</h2></a>

<a href="{{ "/radio-shorthand/" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Radio Shorthand</h2></a>

<div class="dropdown">
   <a href="{{ "/contact" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Contact</h2></a>
   <div class="dropdown-content">
      <a href="https://www.qrz.com/db/KC1MJP" target="_blank"><h2 class="header-link">QRZ</h2></a>
      <a href="https://www.eqsl.cc/Member.cfm?KC1MJP" target="_blank"><h2 class="header-link">eQSL</h2></a>
      <a href="https://www.slashetc.us" target="_blank"><h2 class="header-link">SlashETC</h2></a>
   </div>
</div>

<a href="{{ "/search" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Search</h2></a>

<div class="dropdown">
   <a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">About</h2></a>
   <div class="dropdown-content">
      <a href="{{ "/nets" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Nets</h2></a>
      <a href="{{ "/weather" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Weather</h2></a>
      <a href="{{ "/conditions" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Conditions</h2></a>
   </div>
</div>
